<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="./imgs/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/Global/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Design Junction | Blog Template</title>
  </head>

  <body>
    <!-- loader starts  -->
    <div class="spin-loader-wrapper" id="spin-loader-wrapper">
      <div class="spinner"></div>
    </div>
    <!-- loader ends -->

    <div id="content">
      <!-- Start Header -->
      <div class="header" id="header">
        <div class="container">
          <a href="/"><img src="imgs/logo.png" alt="logo" /></a>
          <ul class="main-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#gallery">Templates</a></li>
            <li><a href="#destack">Destack</a></li>
            <button
              style="
                width: 12em;
                border: #fff;
                border-radius: 50px;
                background-color: #237aad;
                padding: 1em;
                margin: 1em;
              "
            >
              <a href="./index.html" style="color: white">Design Junction</a>
            </button>
            <button
              style="
                width: 6em;
                border: #fff;
                border-radius: 50px;
                background-color: #237aad;
                padding: 1em;
                margin: 1em;
              "
            >
              <a href="/login" style="color: white">Login</a>
            </button>
          </ul>
        </div>
      </div>
      <!-- End Header -->

      <!-- start landing-->
      <div class="landing">
        <div class="container">
          <div class="text">
            <h1
              style="letter-spacing: 0.05em; font-size: 4em; line-height: 1.2"
            >
              Craft Your
              <strong style="color: gray; font-size: 0.8em"> Story,</strong>
              <br />Share Your
              <strong style="color: gray; font-size: 0.8em"> Voice</strong>
            </h1>
            <p>
              Customize your own<br />
              blog website template
            </p>
          </div>
          <div class="image">
            <img src="imgs/blog.png" alt="" />
          </div>
        </div>
      </div>
      <!--End landing-->

      <!-- Start Gallery -->

      <div class="gallery" id="gallery" style="background-color: #fff">
        <h2 class="main-title">Templates - Ready To Edit</h2>
        <div class="container">
          <!-- <div class="box">
            <div class="image">
              <a href="/blog/restaurant" target="_blank">
                <img src="imgs/resturatent_templet_landing.png" alt=""
              /></a>
            </div>
          </div>

          <div class="box">
            <div class="image">
              <a href="/blog/coffee" target="_blank">
                <img src="imgs/coffe_templet_landing.png" alt=""
              /></a>
            </div>
          </div> -->

          <div class="box">
            <div class="image">
              <a href="/api/blog/ghostwind" target="_blank">
                <img src="imgs/blog_temp(1).png" alt=""
              /></a>
            </div>
          </div>

          <div class="box">
            <div class="image">
              <a href="/api/blog/ghostwind" target="_blank">
                <img src="imgs/blog_temp(2).png" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div id="destack"></div>
      </div>

      <!-- End Gallery -->

      <div class="spikes"></div>
      <!-- destack starts  -->
      <div class="destack-container">
        <div class="destack-text">Edit Template Using Destack</div>
        <div>
          <button class="destack-btn">
            <a
              href="http://localhost:3003/"
              target="_blank"
              style="color: white"
              >Destack</a
            >
          </button>
        </div>
      </div>
      <!-- destack ends  -->

      <!-- start footer -->
      <footer class="footer-distributed">
        <div class="flex">
          <div class="footer-left">
            <img src="imgs/logo.png" alt="" />
            <h3>Design<span> Junction</span></h3>

            <p class="footer-company-name">Vishisht &copy 2024</p>
          </div>

          <div class="footer-center">
            <div>
              <i class="fa-solid fa-location-dot"></i>
              <p>
                630, Gnan Marg Sri City,<br />
                Sathyavedu, Andhra Pradesh <br />
                517646
              </p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+91 866xx 812xx</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="#">teamvishist@gmail.com</a></p>
            </div>
          </div>

          <div class="footer-right">
            <p class="footer-company-about">
              <span>About Us</span>
              Modular automated website maker streamlines design, offering
              flexibility, efficiency, and ease. Create dynamic websites
              effortlessly, adapting modules to specific needs.
            </p>

            <div class="footer-icons">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a href="#"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        </div>
      </footer>
      <p
        class="copyright"
        style="
          display: flex;
          justify-content: center;
          background-color: rgb(22, 22, 22);
          margin: 0;
          padding: 5px;
          color: white;
        "
      >
        Made With ❤️ By Team Vishisht
      </p>

      <!-- End Footer -->
    </div>

    <script src="/Global/script.js"></script>
  </body>
</html>
