<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- SWIPER -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- Font Awesome CDN Link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Custom CSS File Link  -->


    <link rel="stylesheet" href="/coffe/css/coffee_style.css">
    <link rel="stylesheet" href="/coffe/css/coffee_modification.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous" />
    <link rel="shortcut icon" href="image/tea-cup.png" type="image/x-icon" />
    <title>Coffee</title>
</head>

<body>





    <!-- HEADER -->


    <header class="header">
        <div id="menu-btn" class="fas fa-bars "></div>
        <div class="editable-container">
            <a href="#" class="logo editable">coffee <i class="fas fa-mug-hot"></i></a>
        </div>
        <div class="container_1">


            <nav class="navbar " id="editableContent " tabindex="0">
                <div class="editable-container">
                    <a class="editable" href="#home">home</a>
                    <a class="editable" href="#about">about</a>
                    <a class="editable" href="#menu">menu</a>
                    <a class="editable" href="#review">review</a>
                    <a class="editable" href="#book">book</a>
                </div>





              

            </nav>
        </div>

        <a href="#" class="btn">book a table</a>

        <div style="width: 10%;">
            <button id="viewCodeBtn" style="background-color: rgb(6, 71, 177); color: rgb(255, 255, 255); height: 40px; width: fit-content; border-radius: 12%;">
              <p style="margin: 10px;">View Code</p>
            </button>
          </div>
        
    </header>
   
    </div>





    <!-- HOME -->
    <section class="home" id="home">
        <div class="row">
            <div class="content editable-container">
                <h3 class="editable">fresh coffee in the morning</h3>
                <a href="#" class="btn editable">buy now else regret</a>
            </div>

            <div class="image">
                <img src="/coffe/shake.png" class="main-home-image" alt="" height="300px" width="250px">
            </div>
        </div>

        <div class="image-slider">
            <img src="image/home-img-1.png" alt="">
            <img src="image/home-img-2.png" alt="">
            <img src="image/home-img-3.png" alt="">
        </div>
    </section>

    <!-- ABOUT -->
    <section class="about editable-container" id="about">
        <div class="editable">
            <h1 class="heading ">about us <span>why choose us</span></h1>
        </div>


        <div class="row">
            <div class="image">
                <img src="/coffe/machine.png" alt="">
            </div>

            <div class="content editable-container">
                <h3 class="title editable">what's make our coffee special!</h3>
                <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum laboriosam
                    reprehenderit ipsa id
                    repellat odio illum, voluptas, necessitatibus assumenda adipisci. Hic, maiores iste? Excepturi illo
                    dolore mollitia qui quia.</p>
                <a href="#" class="btn">read more</a>
                <div class="icons-container">
                    <div class="icons">
                        <img src="/coffe/image/about-icon-1.png" alt="">
                        <h3 class="editable">quality coffee</h3>
                    </div>
                    <div class="icons">
                        <img src="/coffe/coffee-cup-1.png" alt="">
                        <h3 class="editable">our branches</h3>
                    </div>
                    <div class="icons">
                        <img src="/coffe/food-truck-1.png" alt="">
                        <h3 class="editable">free delivery</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    >

    <!-- MENU -->
    <section class="menu" id="menu">
        <h1 class="heading">our menu <span>popular menu</span></h1>

        <div class="box-container">
            <a class="box ">
                <img src="/coffe/image/menu-1.png" alt="">
                <div class="content editable-container">
                    <h3 class="editable">our special coffee</h3>
                    <p class="editable">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, sed.</p>
                    <span class="editable">249</span>
                </div>
            </a>

            <a class="box">
                <img src="/coffe/image/menu-2.png" alt="">
                <div class="content editable-container">
                    <h3 class="editable">our special coffee</h3>
                    <p class="editable">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, fugit.</p>
                    <span class="editable">249</span>
                </div>
            </a>

            <a class="box">
                <img src="/coffe/image/menu-3.png" alt="">
                <div class="content editable-container">
                    <h3 class="editable">our special coffee</h3>
                    <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
                        recusandae.</p>
                    <span class="editable">299</span>
                </div>
            </a>

            <a class="box editable-container">
                <img src="/coffe/image/menu-4.png" alt="">
                <div class="content editable-container">
                    <h3 class="editable">our special coffee</h3>
                    <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, quas.</p>
                    <span class="editable">349</span>
                </div>
            </a>

            <a class="box editable-container">
                <img src="/coffe/image/menu-5.png" alt="">
                <div class="content editable-container">
                    <h3 class="editable">our special coffee</h3>
                    <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, vitae.</p>
                    <span class="editable">199</span>
                </div>
            </a>

            <a class="box">
                <img src="/coffe/image/menu-6.png" alt="">
                <div class="content editable-container">
                    <h3 class="editable">our special coffee</h3>
                    <p class="editable">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, expedita!</p>
                    <span class="editable">299</span>
                </div>
            </a>
        </div>
    </section>

    <!-- REVIEW -->
    <section class="review" id="review">
        <h1 class="heading">reviews <span>what people says</span></h1>

        <div class="swiper review-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <i class="fas fa-quote-left"></i>
                    <i class="fas fa-quote-right"></i>
                    <img src="/coffe/image/pic-1.png" alt="">
                    <div class="stars edi">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="editable-container">
                        <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, earum quis
                            dolorem quaerat tenetur
                            illum.</p>
                        <h3 class="editable">john deo 1</h3>
                        <span class="editable">satisfied client</span>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <i class="fas fa-quote-left"></i>
                    <i class="fas fa-quote-right"></i>
                    <img src="/coffe/image/pic-2.png" alt="">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="editable-container">
                        <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, earum quis
                            dolorem quaerat tenetur
                            illum.</p>
                        <h3 class="editable">john deo 1</h3>
                        <span class="editable">satisfied client</span>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <i class="fas fa-quote-left"></i>
                    <i class="fas fa-quote-right"></i>
                    <img src="/coffe/image/pic-3.png" alt="">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="editable-container">
                        <div class="editable-container">
                            <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, earum
                                quis dolorem quaerat tenetur
                                illum.</p>
                            <h3 class="editable">john deo 1</h3>
                            <span class="editable">satisfied client</span>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <i class="fas fa-quote-left"></i>
                        <i class="fas fa-quote-right"></i>
                        <img src="/coffe/image/pic-4.png" alt="">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="editable-container">
                            <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, earum
                                quis dolorem quaerat tenetur
                                illum.</p>
                            <h3 class="editable">john deo 1</h3>
                            <span class="editable">satisfied client</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="editable-container">
                <span class="heading editable">User Rating</span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p class="editable">4.1 average based on 254 reviews.</p>
                <hr style="border:3px solid #f1f1f1">
            </div>

            <div class="row editable-container">
                <div class="side">
                    <div class="editable">5 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-5"></div>
                    </div>
                </div>
                <div class="side right">
                    <div class="editable">150</div>
                </div>
                <div class="side">
                    <div class="editable">4 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-4"></div>
                    </div>
                </div>
                <div class="side right">
                    <div class="editable">63</div>
                </div>
                <div class="side">
                    <div class="editable">3 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-3"></div>
                    </div>
                </div>
                <div class="side right">
                    <div class="editable">15</div>
                </div>
                <div class="side">
                    <div class="editable">2 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-2"></div>
                    </div>
                </div>
                <div class="side right">
                    <div class="editable">6</div>
                </div>
                <div class="side">
                    <div class="editable">1 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-1"></div>
                    </div>
                </div>
                <div class="side right">
                    <div class="editable">20</div>
                </div>
            </div>





    </section>

    <!-- BOOK -->
    <section class="book" id="book">
        <h1 class="heading">booking <span>reserve a table</span></h1>

        <form action="">
            <input type="text" placeholder="Name" class="box">
            <input type="email" placeholder="Email" class="box">
            <input type="number" placeholder="Number" class="box">
            <textarea name="" placeholder="Message" class="box" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>
    </section>

    <!-- FOOTER -->
    <div class="footer editable-container">
        <div class="box-container">
            <div class="box editable">
                <h3>our branches</h3>
                <a href="#"><i class="fas fa-arrow-right"></i> India</a>
                <a href="#"><i class="fas fa-arrow-right"></i> USA</a>
                <a href="#"><i class="fas fa-arrow-right"></i> france</a>
                <a href="#"><i class="fas fa-arrow-right"></i> africa</a>
                <a href="#"><i class="fas fa-arrow-right"></i> japan</a>
            </div>

            <div class="box editable">
                <h3>quick links</h3>
                <a href="#home"><i class="fas fa-arrow-right"></i> home</a>
                <a href="#about"><i class="fas fa-arrow-right"></i> about</a>
                <a href="#menu"><i class="fas fa-arrow-right"></i> menu</a>
                <a href="#review"><i class="fas fa-arrow-right"></i> review</a>
                <a href="#book"><i class="fas fa-arrow-right"></i> book</a>
            </div>

            <div class="box editable">
                <h3>contact info</h3>
                <a href="#"><i class="fas fa-phone"></i> +91 1234567890</a>
                <a href="#"><i class="fas fa-phone"></i> +91 9845612375</a>
                <a href="#"><i class="fas fa-envelope"></i> coffee@gmail.com</a>
                <a href="#"><i class="fas fa-envelope"></i> patna</a>
            </div>

            <div class="box editable">
                <h3>contact info</h3>
                <a href="#"><i class="fab fa-facebook-f"></i> facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> instagram</a>
                <a href="#"><i class="fab fa-linkedin"></i> linkedin</a>
                <a href="#"><i class="fab fa-twitter"></i> twitter</a>
            </div>

        </div>

        <div class="credit">Made With ❣️ by <bold> Team Vishisht</bold> | all rights reserved</div>
    </div>




    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.0/classic/ckeditor.js">
    </script>




    <!-- SWIPER -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>



    <!-- Custom JS File Link  -->
    <script src="/coffe/js/coffee_modification.js"></script>
    <script src="/coffe/js/coffee_script.js"></script>

    <script>
    // Add an event listener to the button
// Add an event listener to the button
document.getElementById('viewCodeBtn').addEventListener('click', function() {
      // Redirect to the specified link when the button is clicked
      window.location.href = '/api/food/coffee/code';
    });
    </script>

</body>

</html>