<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Junction | Home</title>
    <link rel="stylesheet" href="/Global/style.css" />

    <link rel="shortcut icon" href="./imgs/favicon.ico" type="image/x-icon" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="loader"></div>

    <!-- loading animation starts -->
    <div class="loader-wrapper" id="loader-wrapper">
      <video autoplay loop muted>
        <source src="../public/video/intro.mp4" type="video.mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <!-- loading animation ends  -->

    <div id="content">
      <!-- Start Header -->
      <div class="header" id="header">
        <div class="container">
          <a href="/"><img src="/imgs/logo.png" alt="logo" /></a>

          <ul class="main-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#Templates">Templates</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#working">Working</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#faq">FAQs</a></li>
            <!-- <button
              style="
                width: 6em;
                border: #fff;
                border-radius: 50px;
                background-color: #237aad;
                padding: 1em;
                margin: 1em;
              "
            >
              <a href="/login" style="color: white;">Login</a>
            </button> -->

            <!-- //===========================Log out -============= -->
            <button
              style="
                width: 6em;
                border: #fff;
                border-radius: 50px;
                background-color: #237aad;
                padding: 1em;
                margin: 1em;
              "
              id="LogoutBTN"
            >
              <a style="color: white;">Log Out</a>
            </button>
          </ul>
        </div>
      </div>
      <!-- End Header -->

      <!-- start landing-->
      <div class="landing">
        <div class="container">
          <div class="text">
            <h1 style="letter-spacing: 0.05em; line-height: 1.2;">
              Intersecting
              <strong style="color: gray; font-size: 1.75em;">Coders</strong>
              <br />
              And
              <strong style="color: gray; font-size: 1.75em;"
                >Communities</strong
              >
            </h1>
            <div class="typewriter-container">
              <div id="typewriter" class="typewriter-text"></div>
            </div>
          </div>
          <div class="image">
            <img src="imgs/landing-image.png" alt="" />
          </div>
        </div>
      </div>
      <!--End landing-->

      <!--start Templates-->
      <div class="Templates" id="Templates">
        <h2 class="main-title">Templates</h2>
        <div class="container">
          <div class="box">
            <img src="imgs/cat-01.jpg" alt="" />
            <div class="content">
              <h3>Food</h3>
              <p>
                Create a food website with this template: vibrant design, easy
                navigation, recipe showcase, and mobile-friendly.
              </p>
            </div>
            <div class="info">
              <a href="/api/food">View This Template</a>
            </div>
          </div>

          <div class="box">
            <img src="imgs/cat-02.jpg" alt="" />
            <div class="content">
              <h3>Travel</h3>
              <p>
                Craft a travel blog with: dynamic layout, travel diaries,
                destination highlights, and responsive design.
              </p>
            </div>
            <div class="info">
              <a href="/api/travel">View This Template</a>
            </div>
          </div>

          <div class="box">
            <img src="imgs/cat-03.jpg" alt="" />
            <div class="content">
              <h3>Blog</h3>
              <p>
                Craft a travel blog with: dynamic layout, travel diaries,
                destination highlights, and responsive design.
              </p>
            </div>
            <div class="info">
              <a href="/api/blog">View This Template</a>
            </div>
          </div>

          <div class="box">
            <img src="imgs/cat-04.jpg" alt="" />
            <div class="content">
              <h3>Education</h3>
              <p>
                Build an educational blog using: clean interface, resourceful
                content, easy navigation, and mobile optimization.
              </p>
            </div>
            <div class="info">
              <a href="/api/education">View This Template</a>
            </div>
          </div>

          <div class="box">
            <img src="imgs/cat-05.jpg" alt="" />
            <div class="content">
              <h3>Portfolio</h3>
              <p>
                Develop a portfolio site featuring: sleek design, project
                showcase, resume section, and responsive layout.
              </p>
            </div>
            <div class="info">
              <a href="/api/portfolio">View This Template</a>
            </div>
          </div>

          <div class="box">
            <img src="imgs/cat-06.jpg" alt="" />
            <div class="content">
              <h3>E-commerce</h3>
              <p>
                our diverse range of e-commerce web templates featuring stylish
                designs optimized for online stores. Elevate your business with
                professional and customizable templates tailored to your unique
                brand and products.
              </p>
            </div>
            <div class="info">
              <a href="/api/ecommerce">View This Template</a>
            </div>
          </div>

          <div class="box">
            <img src="imgs/cat-07.jpg" alt="" />
            <div class="content">
              <h3>Finance</h3>
              <p>
                These are pre-designed documents used for various financial
                purposes such as budgeting, forecasting, and financial analysis,
                providing structure and efficiency in financial management
                tasks.
              </p>
            </div>
            <div class="info">
              <a href="/api/finance">View This Template</a>
            </div>
          </div>

          <div class="box">
            <img src="imgs/cat-08.jpg" alt="" />
            <div class="content">
              <h3>Healthcare</h3>
              <p>
                collection of sleek and modern healthcare web templates designed
                to enhance your online presence. Choose from our professionally
                crafted designs tailored to medical practices, clinics, and
                hospitals.
              </p>
            </div>
            <div class="info">
              <a href="/api/healthcare">View This Template</a>
            </div>
          </div>
        </div>
      </div>
      <div class="spikes"></div>
      <!--end Templates-->

      <!-- Start Gallery -->
      <div class="gallery" id="gallery">
        <h2 class="main-title">Gallery</h2>
        <div class="container">
          <div class="box">
            <div class="image">
              <img src="imgs/resturatent_templet_landing.png" alt="" />
            </div>
          </div>

          <div class="box">
            <div class="image">
              <img src="imgs/coffe_templet_landing.png" alt="" />
            </div>
          </div>

          <div class="box">
            <div class="image">
              <img src="imgs/resturent_features_landing.png" alt="" />
            </div>
          </div>

          <div class="box">
            <div class="image">
              <img src="imgs/coffe_templet_featuresAC.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- End Gallery -->

      <!-- start Features-->
      <div class="features" id="features">
        <h2 class="main-title">Features</h2>
        <div class="container">
          <div class="box quality">
            <div class="img-holder">
              <img src="imgs/features-01.jpg" alt="" />
            </div>
            <h2>
              Easily <br />
              Customisable
            </h2>
            <p>
              Feature lets users effortlessly tweak design, content, and
              functionality without coding. It provides intuitive tools such as
              drag-and-drop interfaces for easy personalization.
            </p>
            <a href="#">More</a>
          </div>

          <div class="box time">
            <div class="img-holder">
              <img src="imgs/features-02.jpg" alt="" />
            </div>
            <h2>Wide Templating Options</h2>
            <p>
              Feature offer a diverse range of design templates and layouts to
              choose from, brenabling users to create unique and visually
              appealing websites easily.
            </p>
            <a href="#">More</a>
          </div>

          <div class="box passion">
            <div class="img-holder">
              <img src="imgs/features-03.jpg" alt="" />
            </div>
            <h2>Dynamic Website creation</h2>
            <p>
              Allows for automatic generation of web pages with content that
              updates dynamically. It enables real-time data display and
              customization, enhancing user engagement and site functionality.
            </p>
            <a href="#">More</a>
          </div>
        </div>
      </div>
      <div class="spikes"></div>
      <!-- end Features-->

      <!-- Start Work Steps -->
      <div class="work-steps" id="working">
        <h2 class="main-title">How It Works ?</h2>
        <div class="container">
          <img src="imgs/work-steps.png" alt="" class="image" />
          <div class="info">
            <div class="box">
              <img src="imgs/work-steps-1.png" alt="" />
              <div class="text">
                <h3>Step 1 : Select Template</h3>
                <p>
                  From a given set of templates, select/identify the templates
                  of your choice.
                </p>
              </div>
            </div>
            <div class="box">
              <img src="imgs/work-steps-2.png" alt="" />
              <div class="text">
                <h3>Step 2 : Customisation</h3>
                <p>
                  Customize the selected template according to your needs.
                </p>
              </div>
            </div>
            <div class="box">
              <img src="imgs/work-steps-3.png" alt="" />
              <div class="text">
                <h3>Step 3 : Deployment</h3>
                <p>
                  Deploy and use the chosen template according to your
                  requirements.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Work Steps -->

      <!-- Start Team -->
      <div class="team" id="team">
        <h2 class="main-title">Team Members</h2>
        <div class="container">
          <div class="box">
            <div class="data">
              <img src="imgs/team-05.jpg" alt="" />
              <div class="social">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                  <i class="fab fa-youtube"></i>
                </a>
              </div>
            </div>
            <div class="info">
              <h3>Mamatha Mude</h3>
              <p></p>
            </div>
          </div>

          <div class="box">
            <div class="data">
              <img src="imgs/team-01.jpg" alt="" />
              <div class="social">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                  <i class="fab fa-youtube"></i>
                </a>
              </div>
            </div>
            <div class="info">
              <h3>Abhishek Sahay</h3>
              <p></p>
            </div>
          </div>
          <div class="box">
            <div class="data">
              <img src="imgs/team-02.jpg" alt="" />
              <div class="social">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                  <i class="fab fa-youtube"></i>
                </a>
              </div>
            </div>
            <div class="info">
              <h3>Prajwal Kumar</h3>
              <p></p>
            </div>
          </div>

          <div class="box">
            <div class="data">
              <img src="imgs/team-03.jpg" alt="" />
              <div class="social">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                  <i class="fab fa-youtube"></i>
                </a>
              </div>
            </div>
            <div class="info">
              <h3>Rohan Vinkare</h3>
              <p></p>
            </div>
          </div>
          <div class="box">
            <div class="data">
              <img src="imgs/team-04.jpg" alt="" />
              <div class="social">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                  <i class="fab fa-youtube"></i>
                </a>
              </div>
            </div>
            <div class="info">
              <h3>Sujal Awargand</h3>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="spikes"></div>
      <!-- End Team -->

      <!-- Start Testimonials -->
      <div class="testimonials" id="testimonials">
        <h2 class="main-title">Testimonials</h2>
        <div class="container">
          <div class="box">
            <img src="imgs/avatar-01.png" alt="" />
            <h3>Dr. Odelu Vanga</h3>
            <span class="title">Assistant Professor IIITS</span>
            <p>
              Modular Website Maker is a design powerhouse, offering intuitive
              interface, versatile templates, and time-saving features. Its
              responsive design, collaboration tools, and supportive community
              make it a must-have for designers. ⭐⭐⭐⭐
            </p>
          </div>
          <div class="box">
            <img src="imgs/avatar-02.png" alt="" />
            <h3>Dr. Mrinmoy Ghorai</h3>
            <span class="title">Assistant Professor IIITS</span>
            <p>
              Effortlessly create stunning designs with Modular Website Maker's
              user-friendly interface. Versatile templates, responsive design,
              time-saving features, and a supportive community make it an
              essential tool for designers. ⭐⭐⭐
            </p>
          </div>
          <div class="box">
            <img src="imgs/avatar-03.png" alt="" />
            <h3>Dr. Neha Agrawal</h3>
            <span class="title">Assistant Professor</span>
            <p>
              Modular Website Maker excels with intuitive design tools, diverse
              templates, and seamless collaboration features. Its responsive
              design and supportive community elevate it as the go-to platform
              for efficient and creative design work. ⭐⭐⭐⭐⭐
            </p>
          </div>
          <div class="box">
            <img src="imgs/avatar-04.png" alt="" />
            <h3>Dr. Bulla Rajesh</h3>
            <span class="title">Assistant Professor Ph.D., IIIT-Allahabad</span>
            <p>
              Modular Website Maker empowers designers with a seamless
              interface, responsive templates, and collaborative tools. It's a
              catalyst for efficient, creative workflows, earning it a top spot
              in the design toolkit. ⭐⭐⭐⭐
            </p>
          </div>
          <div class="box">
            <img src="imgs/avatar-05.png" alt="" />
            <h3>Dr. Piyush Joshi</h3>
            <span class="title">Assistant Professor IIITS</span>
            <p>
              Modular Website Maker merges creativity and efficiency
              effortlessly. Its intuitive tools and collaborative features
              redefine design workflows, making it an essential companion for
              designers seeking excellence. ⭐⭐⭐⭐
            </p>
          </div>
          <div class="box">
            <img src="imgs/avatar-06.png" alt="" />
            <h3>Dr.Nikhil Tripati</h3>
            <span class="title">Photographer</span>
            <p>
              Modular Website Maker stands as a pinnacle for designers,
              seamlessly combining creativity and efficiency. With its intuitive
              tools and collaborative features, it's a must-have for design
              excellence. ⭐⭐⭐⭐⭐
            </p>
          </div>
        </div>
      </div>
      <!-- End Testimonials -->

      <div class=""></div>
      <!-- start faq -->
      <div class="faq" id="faq">
        <h2 class="main-title">Frequently Asked Questions</h2>
        <div class="container">
          <div class="faq-item">
            <summary
              >Are templates customizable to suit my unique branding and
              content?<span class="plus">+</span>
            </summary>
            <p>
              Most templates offer customization options like colors, fonts,
              layout, and content alignment, crucial for reflecting branding and
              specific needs.
            </p>
          </div>
          <div class="faq-item">
            <summary
              >What are templates?
              <span class="plus">+</span>
            </summary>
            <p>
              Templates are pre-designed layouts or formats used as a foundation
              for various digital and physical creations, including websites,
              documents, presentations, and more.
            </p>
          </div>
          <div class="faq-item">
            <summary
              >Can I create my own templates?
              <span class="plus">+</span>
            </summary>
            <p>
              Absolutely! you can create your own templates tailored to your
              preferences or business needs.
            </p>
          </div>
          <div class="faq-item">
            <summary
              >How do I credit the creator of a template?
              <span class="plus">+</span>
            </summary>
            <p>
              If the template creator requests attribution or credit,include it
              in your project . This typically involves mentioning the creator's
              name or providing a link to their portfolio or website.
            </p>
          </div>
          <div class="faq-item">
            <summary
              >Are there templates available for niche industries or specific
              purposes?
              <span class="plus">+</span>
            </summary>
            <p>
              Yes, there are templates designed for a wide range of industries
              and purposes, including but not limited to healthcare, education,
              finance, real estate, hospitality, photography, and e-commerce.
            </p>
          </div>
          <div class="faq-item">
            <summary
              >Are there templates available for niche industries ?
              <span class="plus">+</span>
            </summary>
            <p>
              Yes, there are templates designed for a wide range of industries
              such as food, education, finance, hospitality and e-commerce.
            </p>
          </div>
        </div>
      </div>
      <!-- end faq -->

      <!-- start footer -->
      <footer class="footer-distributed">
        <div class="flex">
          <div class="footer-left">
            <img src="imgs/logo.png" alt="" />
            <h3>Design<span> Junction</span></h3>

            <p class="footer-company-name">Vishisht &copy 2024</p>
          </div>

          <div class="footer-center">
            <div>
              <i class="fa-solid fa-location-dot"></i>
              <p>
                630, Gnan Marg Sri City,<br />
                Sathyavedu, Andhra Pradesh <br />
                517646
              </p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+91 866xx 812xx</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="#">teamvishist@gmail.com</a></p>
            </div>
          </div>

          <div class="footer-right">
            <p class="footer-company-about">
              <span>About Us</span>
              Modular automated website maker streamlines design, offering
              flexibility, efficiency, and ease. Create dynamic websites
              effortlessly, adapting modules to specific needs.
            </p>

            <div class="footer-icons">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a href="#"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        </div>
      </footer>
      
     
      <p
        class="copyright"
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgb(22, 22, 22);
          margin: 0;
          padding: 5px;
          color: white;
        "
      >
      <a href="/api/privacyPolicy">Privacy Policy</a>
      <a href="/api/terms">Terms and conditions</a><br>
        Made With ❤️ By Team Vishisht
      </p>

    
      <!-- End Footer -->
    </div>

    <script src="/Global/script.js"></script>
  </body>
  <script>
    //===========================================Food==========================================
    document.addEventListener("DOMContentLoaded", function () {
      // Find the anchor tag with href="/food"
      const foodAnchor = document.querySelector('a[href="/food"]');

      // Check if the anchor tag is found
      if (foodAnchor) {
        // Add a click event listener to the anchor tag
        foodAnchor.addEventListener("click", async function (event) {
          event.preventDefault(); // Prevent default link behavior

          const token = localStorage.getItem("accessToken");

          try {
            const response = await fetch("/api/food", {
              method: "GET",
              headers: {
                Authorization: `Bearer ${token}`,
                "Content-Type": "application/json",
              },
            });

            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
          } catch (error) {
            console.error("Error fetching data:", error);
          }
        });
      }
    });

    //===================================LogOut===============
    document.getElementById("LogoutBTN").addEventListener("click", async () => {
      try {
        const response = await fetch("/api/logout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        });

        const data = await response.json();

        if (data.success) {
          alert("Logout successful");

          localStorage.removeItem("accessToken");
          // Redirect to the login page after successful logout
          window.location.href = "/login"; // Update the URL to your login page
        } else {
          // Handle logout failure
          console.error("Logout failed:", data.msg);
          // Optionally show an error message to the user
          // alert('Logout failed. Please try again.');
        }
      } catch (error) {
        console.error("Logout error:", error);
        // Optionally show an error message to the user
        // alert('An error occurred while logging out. Please try again later.');
      }
    });
  </script>
</html>
