<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Template</title>
   
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      /* Add your CSS styles here */
      .container {
        text-align: center;
        margin-top: 50px;
      }
      .button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
      }
      pre {
        background-color: #f4f4f4;
        padding: 10px;
        overflow-x: auto;
        border-radius: 5px;
        margin-top: 20px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h1 class="container">Your Template</h1>

    <div class="container">
      <h2>HTML Code</h2>
      <pre>
            <code id="html-code">
                Here's your HTML code with the HTML entities (&lt; and &gt;) replacing the angle brackets:

                ```html
                &lt;body&gt;
                
                    &lt;!-- HEADER --&gt;
                
                    &lt;header class="header"&gt;
                        &lt;div id="menu-btn" class="fas fa-bars "&gt;&lt;/div&gt;
                        &lt;div class="editable-container"&gt;
                            &lt;a href="#" class="logo editable"&gt;coffee &lt;i class="fas fa-mug-hot"&gt;&lt;/i&gt;&lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div class="container_1"&gt;
                            &lt;nav class="navbar " id="editableContent " tabindex="0"&gt;
                                &lt;div class="editable-container"&gt;
                                    &lt;a class="editable" href="#home"&gt;home&lt;/a&gt;
                                    &lt;a class="editable" href="#about"&gt;about&lt;/a&gt;
                                    &lt;a class="editable" href="#menu"&gt;menu&lt;/a&gt;
                                    &lt;a class="editable" href="#review"&gt;review&lt;/a&gt;
                                    &lt;a class="editable" href="#book"&gt;book&lt;/a&gt;
                                &lt;/div&gt;
                            &lt;/nav&gt;
                        &lt;/div&gt;
                        &lt;a href="#" class="btn"&gt;book a table&lt;/a&gt;
                    &lt;/header&gt;
                    &lt;/div&gt;
                
                    &lt;!-- HOME --&gt;
                    &lt;section class="home" id="home"&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="content editable-container"&gt;
                                &lt;h3 class="editable"&gt;fresh coffee in the morning&lt;/h3&gt;
                                &lt;a href="#" class="btn editable"&gt;buy now else regret&lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class="image"&gt;
                                &lt;img src="/coffe/shake.png" class="main-home-image" alt="" height="300px" width="250px"&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="image-slider"&gt;
                            &lt;img src="/coffe/image/home-img-1.png" alt=""&gt;
                            &lt;img src="coffe/image/home-img-2.png" alt=""&gt;
                            &lt;img src="/coffe/image/home-img-3.png" alt=""&gt;
                        &lt;/div&gt;
                    &lt;/section&gt;
                
                    &lt;!-- ABOUT --&gt;
                    &lt;section class="about editable-container" id="about"&gt;
                        &lt;div class="editable"&gt;
                            &lt;h1 class="heading "&gt;about us &lt;span&gt;why choose us&lt;/span&gt;&lt;/h1&gt;
                        &lt;/div&gt;
                        &lt;div class="row"&gt;
                            &lt;div class="image"&gt;
                                &lt;img src="coffe/machine.png" alt=""&gt;
                            &lt;/div&gt;
                            &lt;div class="content editable-container"&gt;
                                &lt;h3 class="title editable"&gt;what's make our coffee special!&lt;/h3&gt;
                                &lt;p class="editable"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum laboriosam
                                    reprehenderit ipsa id repellat odio illum, voluptas, necessitatibus assumenda adipisci. Hic,
                                    maiores iste? Excepturi illo dolore mollitia qui quia.&lt;/p&gt;
                                &lt;a href="#" class="btn"&gt;read more&lt;/a&gt;
                                &lt;div class="icons-container"&gt;
                                    &lt;div class="icons"&gt;
                                        &lt;img src="/coffe/coffee-cup-1.png" alt=""&gt;
                                        &lt;h3 class="editable"&gt;quality coffee&lt;/h3&gt;
                                    &lt;/div&gt;
                                    &lt;div class="icons"&gt;
                                        &lt;img src="/coffe/coffee-cup-1.png" alt=""&gt;
                                        &lt;h3 class="editable"&gt;our branches&lt;/h3&gt;
                                    &lt;/div&gt;
                                    &lt;div class="icons"&gt;
                                        &lt;img src="/coffe/food-truck-1.png" alt=""&gt;
                                        &lt;h3 class="editable"&gt;free delivery&lt;/h3&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/section&gt;
                
                    &lt;!-- MENU --&gt;
                    &lt;section class="menu" id="menu"&gt;
                        &lt;h1 class="heading"&gt;our menu &lt;span&gt;popular menu&lt;/span&gt;&lt;/h1&gt;
                        &lt;div class="box-container"&gt;
                            &lt;a class="box "&gt;
                                &lt;img src="image/menu-1.png" alt=""&gt;
                                &lt;div class="content editable-container"&gt;
                                    &lt;h3 class="editable"&gt;our special coffee&lt;/h3&gt;
                                    &lt;p class="editable"&gt;Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur,
                                        sed.&lt;/p&gt;
                                    &lt;span class="editable"&gt;249&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/a&gt;
                            &lt;a class="box"&gt;
                                &lt;img src="image/menu-2.png" alt=""&gt;
                                &lt;div class="content editable-container"&gt;
                                    &lt;h3 class="editable"&gt;our special coffee&lt;/h3&gt;
                                    &lt;p class="editable"&gt;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel,
                                        fugit.&lt;/p&gt;
                                    &lt;span class="editable"&gt;249&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/a&gt;
                            &lt;a class="box"&gt;
                                &lt;img src="image/menu-3.png" alt=""&gt;
                                &lt;div class="content editable-container"&gt;
                                    &lt;h3 class="editable"&gt;our special coffee&lt;/h3&gt;
                                    &lt;p class="editable"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
                                        recusandae.&lt;/p&gt;
                                    &lt;span class="editable"&gt;299&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/a&gt;
                            &lt;a class="box editable-container"&gt;
                                &lt;img src="image/menu-4.png" alt=""&gt;
                                &lt;
                
                div class="content editable-container"&gt;
                                    &lt;h3 class="editable"&gt;our special coffee&lt;/h3&gt;
                                    &lt;p class="editable"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse,
                                        quas.&lt;/p&gt;
                                    &lt;span class="editable"&gt;349&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/a&gt;
                            &lt;a class="box editable-container"&gt;
                                &lt;img src="image/menu-5.png" alt=""&gt;
                                &lt;div class="content editable-container"&gt;
                                    &lt;h3 class="editable"&gt;our special coffee&lt;/h3&gt;
                                    &lt;p class="editable"&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
                                        vitae.&lt;/p&gt;
                                    &lt;span class="editable"&gt;199&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/a&gt;
                            &lt;a class="box"&gt;
                                &lt;img src="image/menu-6.png" alt=""&gt;
                                &lt;div class="content editable-container"&gt;
                                    &lt;h3 class="editable"&gt;our special coffee&lt;/h3&gt;
                                    &lt;p class="editable"&gt;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
                                        expedita!&lt;/p&gt;
                                    &lt;span class="editable"&gt;299&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/section&gt;
                
                    &lt;!-- REVIEW --&gt;
                    &lt;section class="review" id="review"&gt;
                        &lt;h1 class="heading"&gt;reviews &lt;span&gt;what people says&lt;/span&gt;&lt;/h1&gt;
                        &lt;div class="swiper review-slider"&gt;
                            &lt;div class="swiper-wrapper"&gt;
                                &lt;div class="swiper-slide box"&gt;
                                    &lt;i class="fas fa-quote-left"&gt;&lt;/i&gt;
                                    &lt;i class="fas fa-quote-right"&gt;&lt;/i&gt;
                                    &lt;img src="/coffe/image/pic-1.png" alt=""&gt;
                                    &lt;div class="stars edi"&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class="editable-container"&gt;
                                        &lt;p class="editable"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo,
                                            earum quis dolorem quaerat tenetur illum.&lt;/p&gt;
                                        &lt;h3 class="editable"&gt;john deo 1&lt;/h3&gt;
                                        &lt;span class="editable"&gt;satisfied client&lt;/span&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="swiper-slide box"&gt;
                                    &lt;i class="fas fa-quote-left"&gt;&lt;/i&gt;
                                    &lt;i class="fas fa-quote-right"&gt;&lt;/i&gt;
                                    &lt;img src="/coffe/image/pic-2.png" alt=""&gt;
                                    &lt;div class="stars"&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class="editable-container"&gt;
                                        &lt;p class="editable"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo,
                                            earum quis dolorem quaerat tenetur illum.&lt;/p&gt;
                                        &lt;h3 class="editable"&gt;john deo 1&lt;/h3&gt;
                                        &lt;span class="editable"&gt;satisfied client&lt;/span&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="swiper-slide box"&gt;
                                    &lt;i class="fas fa-quote-left"&gt;&lt;/i&gt;
                                    &lt;i class="fas fa-quote-right"&gt;&lt;/i&gt;
                                    &lt;img src="/coffe/image/pic-3.png" alt=""&gt;
                                    &lt;div class="stars"&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class="editable-container"&gt;
                                        &lt;p class="editable"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo,
                                            earum quis dolorem quaerat tenetur illum.&lt;/p&gt;
                                        &lt;h3 class="editable"&gt;john deo 1&lt;/h3&gt;
                                        &lt;span class="editable"&gt;satisfied client&lt;/span&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="swiper-slide box"&gt;
                                    &lt;i class="fas fa-quote-left"&gt;&lt;/i&gt;
                                    &lt;i class="fas fa-quote-right"&gt;&lt;/i&gt;
                                    &lt;img src="/coffe/image/pic-4.png" alt=""&gt;
                                    &lt;div class="stars"&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                        &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class="editable-container"&gt;
                                        &lt;p class="editable"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo,
                                            earum quis dolorem quaerat tenetur illum.&lt;/p&gt;
                                        &lt;h3 class="editable"&gt;john deo 1&lt;/h3&gt;
                                       
                
                 &lt;span class="editable"&gt;satisfied client&lt;/span&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="editable-container"&gt;
                                &lt;span class="heading editable"&gt;User Rating&lt;/span&gt;
                                &lt;span class="fa fa-star checked"&gt;&lt;/span&gt;
                                &lt;span class="fa fa-star checked"&gt;&lt;/span&gt;
                                &lt;span class="fa fa-star checked"&gt;&lt;/span&gt;
                                &lt;span class="fa fa-star checked"&gt;&lt;/span&gt;
                                &lt;span class="fa fa-star"&gt;&lt;/span&gt;
                                &lt;p class="editable"&gt;4.1 average based on 254 reviews.&lt;/p&gt;
                                &lt;hr style="border:3px solid #f1f1f1"&gt;
                            &lt;/div&gt;
                            &lt;div class="row editable-container"&gt;
                                &lt;div class="side"&gt;
                                    &lt;div class="editable"&gt;5 star&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="middle"&gt;
                                    &lt;div class="bar-container"&gt;
                                        &lt;div class="bar-5"&gt;&lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="side right"&gt;
                                    &lt;div class="editable"&gt;150&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="side"&gt;
                                    &lt;div class="editable"&gt;4 star&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="middle"&gt;
                                    &lt;div class="bar-container"&gt;
                                        &lt;div class="bar-4"&gt;&lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="side right"&gt;
                                    &lt;div class="editable"&gt;63&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="side"&gt;
                                    &lt;div class="editable"&gt;3 star&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="middle"&gt;
                                    &lt;div class="bar-container"&gt;
                                        &lt;div class="bar-3"&gt;&lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="side right"&gt;
                                    &lt;div class="editable"&gt;15&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="side"&gt;
                                    &lt;div class="editable"&gt;2 star&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="middle"&gt;
                                    &lt;div class="bar-container"&gt;
                                        &lt;div class="bar-2"&gt;&lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="side right"&gt;
                                    &lt;div class="editable"&gt;6&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="side"&gt;
                                    &lt;div class="editable"&gt;1 star&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="middle"&gt;
                                    &lt;div class="bar-container"&gt;
                                        &lt;div class="bar-1"&gt;&lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="side right"&gt;
                                    &lt;div class="editable"&gt;20&lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/section&gt;
                
                    &lt;!-- BOOK --&gt;
                    &lt;section class="book" id="book"&gt;
                        &lt;h1 class="heading"&gt;booking &lt;span&gt;reserve a table&lt;/span&gt;&lt;/h1&gt;
                        &lt;form action=""&gt;
                            &lt;input type="text" placeholder="Name" class="box"&gt;
                            &lt;input type="email" placeholder="Email" class="box"&gt;
                            &lt;input type="number" placeholder="Number" class="box"&gt;
                            &lt;textarea name="" placeholder="Message" class="box" id="" cols="30" rows="10"&gt;&lt;/textarea&gt;
                            &lt;input type="submit" value="send message" class="btn"&gt;
                        &lt;/form&gt;
                    &lt;/section&gt;
                
                    &lt;!-- FOOTER --&gt;
                    &lt;div class="footer editable-container"&gt;
                        &lt;div class="box-container"&gt;
                            &lt;div class="box editable"&gt;
                                &lt;h3&gt;our branches&lt;/h3&gt;
                                &lt;a href="#"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt; India&lt;/a&gt;
                                &lt;a href="#"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt; USA&lt;/a&gt;
                                &lt;a href="#"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt; france&lt;/a&gt;
                                &lt;a href="#"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt; africa&lt;/a&gt;
                                &lt;a href="#"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt; japan&lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class="box editable"&gt;
                                &lt;h3&gt;quick links&lt;/h3&gt;
                                &lt;a href="#home"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt; home&lt;/a&gt;
                                &lt;a href="#about"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt; about&lt;/a&gt;
                                &lt;a href="#menu"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt; menu&lt;/a&gt;
                                &lt;a href="#review"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt; review&lt;/a&gt;
                                &lt;a href="#book"&gt;&lt;i class="fas fa-arrow-right"&gt;&lt;/i&gt; book&lt;/a&gt;
                            &lt;/div&gt;
                            &lt;div class="box editable"&gt;
                                &lt;h3&gt;contact info&lt;/h3&gt;
                                &lt;a href="#"&gt;&lt
                
                ;i class="fas fa-map-marker-alt"&gt;&lt;/i&gt; address&lt;/a&gt;
                                &lt;a href="#"&gt;&lt;i class="fas fa-phone-alt"&gt;&lt;/i&gt; +123456789&lt;/a&gt;
                                &lt;a href="#"&gt;&lt;i class="fas fa-envelope"&gt;&lt;/i&gt; email@example.com&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;h1 class="credit"&gt;created by &lt;span&gt;web dev&lt;/span&gt;&lt;/h1&gt;
                    &lt;/div&gt;
                
                &lt;/body&gt;
                ```
            </code>
        </pre>
      <button class="button" onclick="copyHtmlCode()">Copy HTML Code</button>

      <h2>CSS Code</h2>
      <pre>
            <code id="css-code">
/* Add your CSS styles here */
:root {
    --main-color: #443;
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--main-color);
    font-size: 3rem;
}

.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
}

.header .logo {
    color: var(--main-color);
    font-size: 2.3rem;
}

.header .logo i {
    padding-left: .5rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}

.header .btn {
    margin-top: 0;
}

#menu-btn {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

/* HOME */

.home {
    min-height: 100vh;
    padding-top: 12rem;
    background: url(../image/home-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .image {
    flex: 1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}

.home .row .image img {
    height: 35rem;
    animation: float 4s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-7rem);
    }
}

.home .row .content h3 {
    font-size: 6.5rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.home .image-slider {
    text-align: center;
    padding: 3rem 0;
}

.home .image-slider img {
    height: 9rem;
    margin: 0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
}

.home .image-slider img:hover {
    transform: translateY(-2rem);
}

/* ABOUT */

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image {
    flex: 1 1 42rem;
}

.about .row .image img {
    width: 100%;
    animation: aboutImage 4s linear infinite;
}

@keyframes aboutImage {

    0%,
    100% {
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }

    50% {
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.about .row .content {
    flex: 1 1 42rem;
}

.about .row .content .title {
    color: var(--main-color);
    font-size: 3rem;
    line-height: 1.8;
}

.about .row .content p {
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.about .row .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
}

.about .row .content .icons-container .icons {
    flex: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);
}

.about .row .content .icons-container .icons img {
    height: 5rem;
}

.about .row .content .icons-container .icons h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--main-color);
}

/* MENU */

.menu {
    background: url(../image/menu-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.menu .box-container .box {
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 6rem;
}

.menu .box-container .box:hover {
    border: var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.menu .box-container .box img {
    height: 8rem;
    margin-left: -6rem;
}

.menu .box-container .box .content h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.menu .box-container .box .content p {
    font-size: 1.6rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.menu .box-container .box .content span {
    font-size: 2rem;
    color: var(--main-color);
    line-height: 1.8;
}

/* REVIEW */

.review .review-slider {
    padding: 7rem 0;
}

.review .review-slider .box {
    border: var(--border);
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 2rem;
}

.review .review-slider .box .fa-quote-left {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    font-size: 6rem;
    color: #ccc;
    z-index: -1;
}

.review .review-slider .box .fa-quote-right {
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    font-size: 6rem;
    color: #ccc;
    z-index: -1;
}

.review .review-slider .box:hover .fa-quote-left {
    top: -6.5rem;
}

.review .review-slider .box:hover .fa-quote-right {
    bottom: -6.5rem;
}

.review .review-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-bottom: .7rem;
}

.review .review-slider .box .stars {
    padding: .5rem 0
}

.review .review-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.review .review-slider .box p {
    font-size: 1.6rem;
    color: var(--main-color);
    padding: 1rem 0;
    line-height: 1.8;
}

.review .review-slider .box h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.review .review-slider .box span {
    font-size: 1.5rem;
    color: var(--main-color);
}

.swiper-pagination-bullet {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}

/* BOOK */

.book {
    background: url(../image/book-bg.jpg);
    background-position: center;
    background-size: cover;
}

.book form {
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-radius-hover);
    padding: 3rem;
    border: var(--border);
}

.book form .box {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--main-color);
    border: var(--border);
    margin: .7rem 0;
}

.book form .box:focus {
    border: var(--border-hover);
}

.book form textarea {
    height: 15rem;
    resize: none;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box a i {
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 1rem;
    color: var(--main-color);
}

.footer .credit span {
    border-bottom: var(--border-hover);
}




/*scroll bar*/

::-webkit-scrollbar {
    width: 7px;
  }
  
 
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }





/* ratings */


.heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top:10px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 70%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 25%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 11%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }













/* MEDIA QUERIES */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 3rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 6rem;
    }

    .heading span {
        font-size: 2.3rem;
    }

    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
    }

    .home {
        text-align: center;
    }

    .home .row .content h3 {
        font-size: 4rem;
    }

    .menu .box-container .box {
        margin-left: 0;
        margin-top: 6rem;
        flex-flow: column;
        text-align: center;
    }

    .menu .box-container .box img {
        margin-left: 0;
        margin-top: -6rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .row .image img {
        height: auto;
        width: 100%;
    }
}


/* content edit */
#toolbar {
    margin-bottom: 10px;
}

#toolbar button, #toolbar select {
    margin-right: 5px;
}

#editor {
    min-height: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#colorPicker {
    margin-top: 10px;
}
            </code>
        </pre>
      <button class="button" onclick="copyCssCode()">Copy CSS Code</button>

      <h2>JavaScript Code</h2>
      <pre>
            <code id="js-code">
// Your JavaScript code here
let menu = document.querySelector('#menu-btn');
let navbar = document.querySelector('.navbar');

menu.onclick = () => {
    menu.classList.toggle('fa-times');
    navbar.classList.toggle('active');
};

window.onscroll = () => {
    menu.classList.remove('fa-times');
    navbar.classList.remove('active');
};

document.querySelectorAll('.image-slider img').forEach(images => {
    images.onclick = () => {
        var src = images.getAttribute('src');
        document.querySelector('.main-home-image').src = src;
    };
});

var swiper = new Swiper(".review-slider", {
    spaceBetween: 20,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    loop: true,
    grabCursor: true,
    autoplay: {
        delay: 7500,
        disableOnInteraction: false,
    },
    breakpoints: {
        0: {
            slidesPerView: 1
        },
        768: {
            slidesPerView: 2
        }
    },
});


// dark mode 

function myFunction() {
    var element = document.body;
    element.dataset.bsTheme =
      element.dataset.bsTheme == "light" ? "dark" : "light";
  }





 // content editable
/*
 const editor = document.getElementById('editor');
const boldButton = document.getElementById('boldButton');
const italicButton = document.getElementById('italicButton');
const underlineButton = document.getElementById('underlineButton');
const fontSizeSelect = document.getElementById('fontSize');
const colorPicker = document.getElementById('colorPicker');

// Function to apply styles to the selected text
function applyStyle(style, value) {
    document.execCommand(style, false, value);
}

// Bold button event
boldButton.addEventListener('click', function() {
    applyStyle('bold');
});

// Italic button event
italicButton.addEventListener('click', function() {
    applyStyle('italic');
});

// Underline button event
underlineButton.addEventListener('click', function() {
    applyStyle('underline');
});

// Font size select event
fontSizeSelect.addEventListener('change', function() {
    applyStyle('fontSize', fontSizeSelect.value + 'px');
});

// Color picker event
colorPicker.addEventListener('input', function() {
    applyStyle('foreColor', colorPicker.value);
});

*/
function toggleDeveloperMode() {
    var customizationOptions = document.getElementById("customizationOptions");
    var editableContent = document.getElementById("editableContent");
    var toggleButton = document.getElementById("toggleButton");

    if (customizationOptions.style.display === "none") {
        customizationOptions.style.display = "block";
        editableContent.contentEditable = "true";
        toggleButton.textContent = "Developer Mode ON";
    } else {
        customizationOptions.style.display = "none";
        editableContent.contentEditable = "false";
        toggleButton.textContent = "Developer Mode OFF";
    }
}

function changeColorDev() {
    var color = document.getElementById("colorPickerDev").value;
    document.getElementById("editableContent").style.color = color;
}

function changeFontSizeDev() {
    var fontSize = document.getElementById("fontSizeDev").value;
    document.getElementById("editableContent").style.fontSize = fontSize + "px";
}

function setAlignment(align) {
    document.getElementById("editableContent").style.textAlign = align;
}
            </code>
        </pre>
      <button class="button" onclick="copyJsCode()">
        Copy JavaScript Code
      </button>
    </div>

    <script>
      function copyHtmlCode() {
        var htmlCode = document.getElementById("html-code").innerText;
        copyCode(htmlCode);
      }

      function copyCssCode() {
        var cssCode = document.getElementById("css-code").innerText;
        copyCode(cssCode);
      }

      function copyJsCode() {
        var jsCode = document.getElementById("js-code").innerText;
        copyCode(jsCode);
      }

      function copyCode(code) {
        var textArea = document.createElement("textarea");
        textArea.value = code;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);

        alert("Code copied to clipboard!");
      }
    </script>
  </body>
</html>
